  {% extends 'starter-page.html' %}

  {% load static %}

   {% block content %}
       <h1>About Us</h1>
       <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid animi asperiores, cum natus obcaecati officia perferendis quae sunt. Enim magni natus quod saepe voluptates? Ipsam minus obcaecati provident quod voluptas.</span><span>Atque, enim, tenetur? Accusantium, aut autem cumque dolores earum fuga hic ipsam iste optio placeat praesentium, quidem temporibus? Aperiam beatae nobis nulla qui quibusdam quidem, quis quos recusandae sapiente tempore.</span></p>


    {% endblock %}
